:root {
  --background-color: #081826;
  --text-primary-color: #5681a6;
  --text-secondary-color: #083359;
  --accent-primary-color: #f2d5bb;
  --accent-secondary-color: #d98977;
}

html, body {
  height: 100%;
  background-color: var(--background-color);
  color: var(--text-primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main {
  flex: 1; 
}

footer {
  padding: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%; /* Ensures it takes full height */
}

.social{
  padding-top: 5rem;
}

ul {
  padding: 0;
}

li {
  display: inline-block;
  padding-right: 1rem;
}

h1 {
  font-weight: 600;
  font-size: 3.3rem;
}

h3 {
  font-weight: 400;
}

.hero > h3 {
  font-size: 1.5rem;
  color: var(--text-secondary-color);
}

.social > h3 {
  font-size: 2rem;
  color: var(--text-primary-color) !important;
  padding-bottom: 1rem;
}

.icon {
  display: inline;
  height: 2rem;
}

.accent-color {
  color: var(--accent-secondary-color);
}

#love {
  height: 1rem;
}

#dot {
  color: var(--accent-secondary-color);
}

@media (orientation: landscape) and (max-width: 1024px) {
  .container{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  section{
    padding: 0 3rem;
  }
} 
